extends layout
block css
  link(rel='stylesheet', type="text/css",  media="screen,projection", href='/stylesheets/index.css')
block js
  script(type="text/javascript", src="/javascripts/index.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js")
  script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
block content
  div.zoom
    img(src="/images/isologo_blanco.png", class="logo_intro", alt="")
  .contenido(style="hidden:true")
    .parallax-container
      .parallax
