doctype html
html
  head
    block head
      title Tropical Poncho
    link(rel="icon", type="image/x-icon", href="/images/isologo_blanco.png")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type="text/css",  media="screen,projection", href='/stylesheets/materialize.css')
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    block css
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    block content
    script(type="text/javascript", src='/javascripts/materialize.js')
    script(type="text/javascript", src='/javascripts/jquery-3.6.0.js')
    block js