html{
    background-color: black;
}
body{
    text-align: center;
}
.zoom {
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
    height:100vh;  
    width:100%;  
    display:grid;  
    place-items:center;  
    position:fixed;  
    top:0;  
    left:0;
}

.logo_intro{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    vertical-align: middle;
}

section {
    width: 100%;
    height: 1000px;
}