body{
    text-align: center;
}
/* .zoom {
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
    height:100vh;  
    width:100%;  
    display:grid;  
    place-items:center;  
    position:fixed;  
    top:0;  
    left:0;
}

.logo_intro{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    vertical-align: middle;
} */

section {
  width: 100%;
  height: 1000px;
}

.node-label{
  color:white;
  font-size: 15px;
  text-transform: uppercase;
}

.floatingTitle{
  position: absolute;
  top:  2%;
  /* max-width: 30%; */
  max-height: 20%;
  overflow: scroll;
  width: 90%;
  min-height: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Briller', Gotham, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: white;
}

.floatingInfo{
  position: absolute;
  top:  20%;
  left: 6%;
  /* max-width: 30%; */
  width: 30%;
  max-height: 70%;
  overflow: scroll;
  color: white;
  padding: 15px;
  text-align: justify;
  font-size: 15px;
}

/* .floatingMenu.der,.floatingInfo.der{
  left: 60%;
}
.floatingMenu.izq{
  left:30%
} */

.checkbtn{
  position: absolute;
  top:  6%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.checkbtn i{
  font-size: 50px;
}

#check{
  display: none;
}

.floatingInfo.der{
  left: 60%;
}

.floatingMenu {
  position: absolute;
  top: 10%;
  height: 50px;
  white-space: nowrap;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .floatingInfo,.floatingInfo.der{
        width: 90%;
        top: 70%;
        max-height: 25%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .floatingTitle{
        font-size: 16px;
        top: 4%;
    }
    #title{
      width: 90%;
      min-height: 25%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .checkbtn{
        display: block;
    }
    .floatingMenu,.floatingMenu.izq{
        position: fixed;
        white-space: unset;
        height: fit-content;
        top: -100%;
        left: 50%;
        text-align: center;
        transition: all .5s;
        transform: translate(-50%, 0);
        font-size: 20px;
    }
    #check:checked ~ .floatingMenu{
        top: 15%;
    }
    .floatingMenu button{
      padding: 5px 5px;
    }
  }

  
 /* Style the navigation container */

  button {
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: rgba(0,0,0,0);
    font-family: 'Briller', Gotham, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    z-index: 2;
  }
  
  button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    background-image: conic-gradient(
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 100ms infinite;
    animation-play-state: paused;
    border-radius: 20px;
    border-color: #000;
  }
  
  button:hover::after {
    animation-play-state: running;
    border-radius: 10px;
  }
  
  @keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }
  
  button,
  button::after {
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  button:active {
    --border-width: 5px;
  }
  
  .bn {
    display: inline;
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 32px;
  }
  
  .bn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .bn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #07d888, #e40851, #2f00ff, #00ff37,
          #ec0808, #2600ff, #0bd157, #2f00ff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing345 20s linear infinite;
    transition: opacity .1s ease-in-out;
    border-radius: 20px;
    opacity: 0;
  }
  
  @keyframes glowing345 {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .bn:hover::before {
    opacity: 1;
  }
  
  .bn:active:after {
    background: transparent;
  }
  
  .bn:active {
    color: #000;
    font-weight: bold;
  }

  .btVolver.derecha{
    text-align: right;
  }

  .subtitle{
    font-size: 26px;
  }

  
.ico {
  display: inline-block;
  width: 32px; height: 32px;
  background-repeat: no-repeat;
}
.ig{
  background-image: url('/icons/instagram.png');
}
.fb{
  background-image: url('/icons/facebook.png');
}
.spotify{
  background-image: url('/icons/spotify.png');
}
.web{
  background-image: url('/icons/web.png');
}
.wpp{
  background-image: url('/icons/whatsapp.png');
}
.youtube{
  background-image: url('/icons/youtube.png');
}

/* .floatingInfo:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("/images/noise.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;
}  */

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
