#neuralNetwork{
    position : absolute;
	width : 100%;
	min-height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ico {
    display: inline-block;
    width: 32px; height: 32px;
    background-repeat: no-repeat;
}
.ig{
    background-image: url('/icons/instagram.png');
}
.fb{
    background-image: url('/icons/facebook.png');
}
.spotify{
    background-image: url('/icons/spotify.png');
}
.web{
    background-image: url('/icons/web.png');
}
.wpp{
    background-image: url('/icons/whatsapp.png');
}
.youtube{
    background-image: url('/icons/youtube.png');
}

/* .floatingInfo:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("/images/noise.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
}  */

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }

/* #navScene{
    position: absolute;
    right: 10px;
    min-height: 30%;
    top: 10px;
    width:50%;
} */

/* .triggerFloatingInfo{
    position: absolute;
    top:  5%;
    left: 34%;
    background-color: #578CCB;
} */

#title{
    position: absolute;
    text-align: center;
    right: 6%;
    top: 5%;
    height: 10%;
    max-width: 90%;
}

.title{
    font-weight: 500;
    font-size: 100px;
    color: transparent;
    line-height: 101px;
    -webkit-text-stroke: 3px #9900FF;
    margin-bottom: 0px;
    padding: 0;
    margin-top: 0;
}

.subtitle{
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 150px;
}

#date{
    margin-top: 10px;
    text-align: center;
}

.date{
    font-weight: normal;
    color: #ffffff;
    font-size: 65px;
    margin-bottom: 0px;
    line-height: 66px;
    padding: 0;
    margin-top: 0;
}

.place{
    font-weight: normal;
    color: #ffffff;
    font-size: 14px;
    margin-top: 0px;
}

.lineup{
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .floatingInfo{
        width: 90%;
        top: 70%;
        max-height: 25%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #title{
        width: 90%;
        min-height: 25%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .date{
        font-size: 55px;
    }
    .place{
        font-size: 14px;
    }
}