@import "fonts.css";

html{
  font-family: 'Gotham', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

body {
  /* padding: 50px; */
}

a {
  color: #b700ff;
}

input{
  color:#ffffff;
}

.btn{
  /* margin-right: 10px; */
  padding: 0 8px;
  color: #111;
  background-color: #FFBC00;
  /* margin-bottom: 10px; */
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.hidden{
  display: none;
}

ul{
  list-style: none;
}

/* Tropical Colors:
8AE2C8
578CCB
9900FF
FF0074
FFBC00
111111
FFFFFF
*/

@media screen and (max-width: 600px) {
  .floatingInfo{
      width: 90%;
      top: 70%;
      max-height: 25%;
      left: 50%;
      transform: translate(-50%, 0);
  }
}